In [2]:
# Import the necessary dependencies
import pandas as pd

In [18]:
# Read in the data as a DataFrame
# Provide the dataset URL from an AWS S3 bucket. It's ~100 MB.
delayed_flights_url = "https://static.bc-edx.com/ai/ail-v-1-0/m5/lesson_2/delayed_flights.csv"
delayed_flights_df = pd.read_csv(delayed_flights_url)
delayed_flights_df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003,1955,2211.0,2225,WN,335,...,4.0,8,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754,735,1002.0,1000,WN,3231,...,5.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628,620,804.0,750,WN,448,...,3.0,17,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829,1755,1959.0,1925,WN,3920,...,3.0,10,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940,1915,2121.0,2110,WN,378,...,4.0,10,0,N,0,NaN,NaN,NaN,NaN,NaN

In [20]:
# Get the columns
delayed_flights_df.columns.value_counts()

Year                 1
DepDelay             1
SecurityDelay        1
NASDelay             1
WeatherDelay         1
CarrierDelay         1
Diverted             1
CancellationCode     1
Cancelled            1
TaxiOut              1
TaxiIn               1
Distance             1
Dest                 1
Origin               1
ArrDelay             1
Month                1
AirTime              1
CRSElapsedTime       1
ActualElapsedTime    1
TailNum              1
FlightNum            1
UniqueCarrier        1
CRSArrTime           1
ArrTime              1
CRSDepTime           1
DepTime              1
DayOfWeek            1
DayofMonth           1
LateAircraftDelay    1
Name: count, dtype: int64

In [21]:
# Create a custom function that will calculate the average of DataFrame column
def custom_avg(column):
    """Calculate the average of a DataFrame column."""
    return column.mean()



# Create a pivot table to show the largest average arrival delay
pivot_avg_arrival_delay = delayed_flights_df.pivot_table(
    values='ArrDelay', 
    index=['UniqueCarrier', 'DayofMonth', 'DayOfWeek'], 
    aggfunc=custom_avg
)

# Sort the pivot table to show the top 25 results
pivot_top_25_arrival_delay = pivot_avg_arrival_delay.sort_values(by='ArrDelay', ascending=False).head(25)

pivot_top_25_arrival_delay

                                      ArrDelay
UniqueCarrier DayofMonth DayOfWeek
HA            28         5          181.500000
              24         6          138.000000
              6          4          136.333333
B6            8          6          135.351351
CO            18         2          128.115914
EV            17         7          120.197531
YV            12         2          117.582996
DL            17         7          116.066116
OH            8          6          112.794872
FL            17         7          112.266854
YV            26         2          111.743719
EV            4          2          110.819328
AA            27         2          108.742816
B6            27         2          108.717105
OH            31         6          108.286957
B6            13         3          107.797508
              31         6          107.225490
EV            4          5          105.882547
YV            31         1          105.087500
B6            1          5          104.219917
OH            12         2          102.732955
B6            26         2          100.685345
              11         5           99.810345
XE            18         2           98.770083
B6            28         1           98.169184

In [22]:
# Use the custom_avg function to show the average delay of arrivals and departures
# for each carrier, day of the months and day of the week. Round to one decimal place. 

pivot_avg_arrival_departure_delay = delayed_flights_df.pivot_table(
    values=['ArrDelay', 'DepDelay'],
    index=['UniqueCarrier', 'DayofMonth', 'DayOfWeek'],
    aggfunc=custom_avg
)

# Rename the columns to reflect the aggregation. 


# Sort the pivot table to show the greatest average arrival and departures delays
# by carrier, day of the months and day of the week. Show the top 25 results
pivot_top_25_arrival_departure_delay = pivot_avg_arrival_departure_delay.sort_values(by=['ArrDelay', 'DepDelay'], ascending=False).head(25)

pivot_top_25_arrival_departure_delay

                                      ArrDelay    DepDelay
UniqueCarrier DayofMonth DayOfWeek
HA            28         5          181.500000  186.375000
              24         6          138.000000  141.000000
              6          4          136.333333  130.333333
B6            8          6          135.351351  125.358804
CO            18         2          128.115914  123.052529
EV            17         7          120.197531  116.292181
YV            12         2          117.582996  107.903614
DL            17         7          116.066116  108.937500
OH            8          6          112.794872   94.059406
FL            17         7          112.266854  103.102493
YV            26         2          111.743719  105.134328
EV            4          2          110.819328  103.855042
AA            27         2          108.742816  101.177465
B6            27         2          108.717105  102.712418
OH            31         6          108.286957   98.008621
B6            13         3          107.797508  108.919255
              31         6          107.225490   92.204762
EV            4          5          105.882547   97.980241
YV            31         1          105.087500  100.413223
B6            1          5          104.219917   99.395918
OH            12         2          102.732955   81.107955
B6            26         2          100.685345   88.722222
              11         5           99.810345   90.721374
XE            18         2           98.770083  105.149733
B6            28         1           98.169184  101.337349

In [23]:
# Show the bottom 25 results.
pivot_bottom_25_arrival_departure_delay = pivot_avg_arrival_departure_delay.sort_values(by=['ArrDelay', 'DepDelay'], ascending=True).head(25)

pivot_bottom_25_arrival_departure_delay

                                     ArrDelay   DepDelay
UniqueCarrier DayofMonth DayOfWeek
HA            9          1         -10.000000   7.000000
AQ            13         3          -7.090909  20.545455
              20         7          -3.000000   7.000000
HA            23         6          -0.333333   9.333333
AQ            19         2           0.666667  15.750000
              18         1           1.000000  14.818182
              17         7           1.666667  13.000000
              31         4           2.333333  11.000000
              3          7           2.750000  12.750000
              20         3           2.800000  10.500000
              7          1           3.235294  16.111111
HA            12         3           4.333333  27.333333
AQ            29         5           5.000000   8.000000
HA            8          4           5.833333   8.000000
AQ            24         4           6.666667   9.666667
              4          1           6.666667  10.000000
              16         6           6.916667  15.250000
              8          5           7.666667  11.555556
              22         2           7.800000  10.000000
CO            25         7           7.940000  19.650000
HA            10         7           8.142857  16.285714
              15         5           8.150000  14.850000
              13         2           8.200000  13.200000
AQ            28         4           8.333333  23.666667
HA            21         5           8.777778   8.333333

In [24]:
# Create a custom function that calculates the total of a DataFrame column.
def custom_total(column):
    """Calculate the total of a DataFrame column."""
    return column.sum()

In [25]:
# Create a pivot table to show the total and average number of flights that were diverted
# for each carrier, the origin, and destination
pivot_diverted_flights = delayed_flights_df.pivot_table(
    values='Diverted',
    index=['UniqueCarrier', 'Origin', 'Dest'],
    aggfunc={'Diverted': [custom_total, custom_avg]}
)

# Rename the columns to reflect the results
pivot_diverted_flights.columns = ['Total Diverted', 'Average Diverted']

# Sort the pivot table to show the greatest average and number of diverted flights
# for each carrier, the origin, and destination
pivot_top_25_diverted_flights = pivot_diverted_flights.sort_values(by=['Total Diverted', 'Average Diverted'], ascending=False).head(25)

pivot_top_25_diverted_flights

                           Total Diverted  Average Diverted
UniqueCarrier Origin Dest
OO            ORD    GJT              1.0                 6
              LAX    GJT              1.0                 5
                     DEN              1.0                 4
              SFO    LAX              1.0                 3
XE            SAN    ONT              1.0                 3
9E            ATL    AUS              1.0                 2
              STX    JAX              1.0                 2
OO            BIL    PIH              1.0                 2
              CLE    OMA              1.0                 2
              EKO    TWF              1.0                 2
              FCA    IDA              1.0                 2
              LAX    LAS              1.0                 2
9E            ATL    CLE              1.0                 1
                     HSV              1.0                 1
              IAH    TYS              1.0                 1
              PFN    ATL              1.0                 1
              STX    MGM              1.0                 1
OO            ACV    MRY              1.0                 1
                     SJC              1.0                 1
              ALB    SBN              1.0                 1
              ASE    MSN              1.0                 1
                     RFD              1.0                 1
              ATW    XNA              1.0                 1
              BDL    GRB              1.0                 1
              BIL    GTF              1.0                 1